.Beauty_stop{
position: absolute;
top:9605px;
left:616px;
height:24px;
width:208px;
Font-size: 20px;
Line-height: 100%;
text-Align: Center;
Vertical-align: Top;
Letter-spacing: 10%;
Fill: Solid #1C191A;
}
.Beauty_stop_p{
    position: absolute;
    top:9641px;
    left:455px;
    height:44px;
    width:530px;
Font-size: 16px;
Line-height: 22px;
Line-height: 140%;
text-Align: Center;
Vertical-align: Top;
color:#7B7979
}
.wedding_frindly{
    position: absolute;
    top:9705px;
    left:196px;
    width:482px;
    height:482px;
}
.wedding_makeup{
    position: absolute;
    top:9705px;
    left:704px;
    width:207px;
    height:147px;
}
.wedding_planing{
    position: absolute;
    top:9872px;
    left:704px;
    width:207px;
    height:147px;
}
.wedding_skincare{
    position: absolute;
    top:10039px;
    left:704px;
    width:207px;
    height:147px;
}
.wedding_frindly_background{
    position: absolute;
    top:10056px;
    left:196px;
    width:482px;
    height:130px;
    background-color: #f3f3f3;
}
.Earth_Friendly_back{
    position: absolute;
    top:0px;
    left:15px;
    width:445px;
    height:28px;
Font-size: 20px;
Line-height: 142%;
text-Align: Left;
Vertical-align: Top;
color: #231F20
}
.Beauty_paragrah_wedding{
    position: absolute;
    top:27px;
    left:15px;
    width:445.81px;
}
.wedding_video1{
    position: absolute;
    top:9713px;
    width:58px;
    height:26px;
    font-size: 12px;
    text-align: center;
    Line-height: 18px;
    left:927px;
    Vertical-align: Top;
    background-color: #c3b0f3;
}
.wedding_video2{
    position: absolute;
    top:9880px;
    width:58px;
    height:26px;
    font-size: 12px;
    text-align: center;
    Line-height: 18px;
    left:927px;
    Vertical-align: Top;
    background-color: #c3b0f3;
}

.wedding_video3{
    position: absolute;
    top:10047px;
    width:58px;
    height:26px;
    font-size: 12px;
    text-align: center;
    Line-height: 18px;
    left:927px;
    Vertical-align: Top;
    background-color: #c3b0f3;
}
.wedding_makeup_back{
    position: absolute;
    top:9753px;
    left:927px;
    width:240px;
    height:90px;
Font-size: 7px;
Line-height: 18px;
text-Align: Left;
Vertical-align: Top;
Letter-spacing: 0.15px;;
color: #000000;
background-color: #f3f3f3;
}
.wedding_planing_back{
        position: absolute;
        top:9920px;
        left:927px;
        width:240px;
        height:90px;
    Font-size: 7px;
    Line-height: 18px;
    text-Align: Left;
    Vertical-align: Top;
    Letter-spacing: 0.15px;;
    color: #000000;
    background-color: #f3f3f3;
}
.wedding_skincare_back{
    position: absolute;
    top:10087px;
    left:927px;
    width:240px;
    height:90px;
Font-size: 7px;
Line-height: 18px;
text-Align: Left;
Vertical-align: Top;
Letter-spacing: 0.15px;;
color: #000000;
background-color: #f3f3f3;
}
.video_btn1{
    position: absolute;
    top: 9764px;
    left:793px;
    width:30px;
    height:30px;
    border-radius: 50px;
    background-color: #ffffff;
}
.video_btn2{
    position: absolute;
    top: 9929px;
    left:791px;
    width:30px;
    height:30px;
    border-radius: 50px;
    background-color: #ffffff;
}
.video_btn3{
    position: absolute;
    top: 10096px;
    left:791px;
    width:30px;
    height:30px;
    border-radius: 50px;
    background-color: #ffffff;
}
.video_click1{
    position: absolute;
    top:10px;
    left:10px;
}
.video_click2{
    position: absolute;
    top:10px;
    left:10px;
}
.video_click3{
    position: absolute;
    top:10px;
    left:10px;
}
.Read_more_btn{
    position: absolute;
    top:10198px;
    left:196px;
    padding:14px,26px,14px,26px;
    gap:10px;
    width:125px;
    height:50px;
    background-color: #231F20;
   
}
.read_name{
    position: absolute;
    top:9px;
    left:15px;
  
    color: #dea3B7;
    font-size:15px;
    line-height:16px;
    text-align:center;
    vertical-align: top;
    letter-spacing: 1px;
    
}
@media(max-width:360px){
    .Beauty_div{
        position: absolute;
        top:0px;
        left:16px;
    }
    .Beauty_stop{
        position: absolute;
        top:8548px;
        left:123px;
        height:14px;
        width:125px;
        Font-size: 12px;
        Line-height: 100%;
        text-Align: Center;
        Vertical-align: Top;
        Letter-spacing: 10%;
        Fill: Solid #1C191A;
        }
        .Beauty_stop_p{
            position: absolute;
            top:8561px;
            left:30px;
            height:170px;
            width:328px;
        Font-size: 14px;
        Line-height: 255%;
        text-Align: Center;
        Vertical-align: Top;
        color:#7B7979
        }
        .wedding_frindly{
            position: absolute;
            top:8610px;
            left:18px;
            width:335px;
            height:170px;
        }
        .wedding_makeup{
            position: absolute;
            top:8900px;
            left:18px;
            width:160px;
            height:114px;
        }
        .wedding_planing{
            position: absolute;
            top:8900px;
            left:185px;
            width:169px;
            height:114px;
        }
        .wedding_skincare{
            position: absolute;
            top:8900px;
            left:185px;
            width:169px;
            height:114px;
        }
        .wedding_frindly_background{
            position: absolute;
            top:8755px;
            left:17px;
            width:337px;
            height:125px;
            background-color: #f3f3f3;
        }
        .Earth_Friendly_back{
            position: absolute;
            top:10px;
            left:35px;
            width:445px;
            height:28px;
        Font-size: 12px;
        Line-height: 142%;
        text-Align: Left;
        Vertical-align: Top;
        color: #231F20
        }
        .Beauty_paragrah_wedding{
            position: absolute;
            top:22px;
            left:15px;
            width:327.81px;
            font-size: 12px;
        }
        .wedding_video1{
            position: absolute;
            top:9020px;
            left:85px;
            height:26px;
            font-size: 12px;
            text-align: center;
            Line-height: 18px;
            Vertical-align: Top;
            background-color: #c3b0f3;
        }
        .wedding_video2{
            position: absolute;
            top:9020px;
            width:58px;
            height:26px;
            font-size: 12px;
            text-align: center;
            Line-height: 18px;
            left:251px;
            Vertical-align: Top;
            background-color: #c3b0f3;
        }
        
        .wedding_video3{
            position: absolute;
            top:9020px;
            width:58px;
            height:26px;
            font-size: 12px;
            text-align: center;
            Line-height: 18px;
            left:251px;
            Vertical-align: Top;
            background-color: #c3b0f3;
        }
        .wedding_makeup_back{
            position: absolute;
            top:9012px;
            left:17px;
            width:162px;
            height:70px;
        Font-size: 6px;
        Line-height: 12px;
        text-Align: Left;
        Vertical-align: Top;
        Letter-spacing: 0.15px;;
        color: #000000;
        background-color: #f3f3f3;
        }
        .wedding_planing_back{
            position: absolute;
            top:9012px;
            left:17px;
            width:162px;
            height:70px;
        Font-size: 6px;
        Line-height: 12px;
        text-Align: Left;
        Vertical-align: Top;
        Letter-spacing: 0.15px;;
        color: #000000;
        background-color: #f3f3f3;
        }
        .wedding_skincare_back{
            position: absolute;
            top:9012px;
            left:185px;
            width:170px;
            height:70px;
        Font-size: 6px;
        Line-height: 12px;
        text-Align: Left;
        Vertical-align: Top;
        Letter-spacing: 0.15px;;
        color: #000000;
        background-color: #f3f3f3;
        }
        .video_btn1{
            position: absolute;
            top:8950px;
            left:88px;
            width:23px;
            height:23px;
            border-radius: 50px;
            background-color: #ffffff;
        }
        .video_btn2{
            position: absolute;
            top: 8947px;
            left:247px;
            width:30px;
            height:30px;
            border-radius: 50px;
            background-color: #ffffff;
        }
        .video_btn3{
            position: absolute;
            top: 8947px;
            left:247px;
            width:23px;
            height:23px;
            border-radius: 50px;
            background-color: #ffffff;
        }
        .video_click1{
            position: absolute;
            top:6px;
            left:7px;
        }
        .video_click2{
            position: absolute;
            top:6px;
            left:7px;
        }
        .video_click3{
            position: absolute;
            top:6px;
            left:7px;
        }
        .Read_more_btn{
            position: absolute;
            top:8830px;
            left:125px;
            padding:6px,18px,6px,18px;
            gap:10px;
            width:110px;
            height:28px;
            background-color: #231F20;
           
        }
        .read_name{
            position: absolute;
            top:-5px;
            left:15px;
          
            color: #dea3B7;
            font-size:15px;
            line-height:16px;
            text-align:center;
            vertical-align: top;
            letter-spacing: 1px;
            
        }
}