.Pay_securely_by{
    position: absolute;
    width: 159px;
    height: 26px;
    left: 50.07px;
    top: 11127px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    text-transform: uppercase;
    color: #231F20;
}
.Visaimg{
    position: absolute;
    width: 52px;
    height: 32px;
    left: 50px;
    background-color: blue;
    top: 11173px;
}
.redyelloimg{
    position: absolute;
    width: 52px;
    height: 32px;
    left: 116.13px;
    top: 11173px;
}
.image71img{
    position: absolute;
    width: 53.89px;
    height: 40.42px;
    left: 170.36px;
    top: 11169.7px;
}
.Rupayimg{
    position: absolute;
    width: 52px;
    height: 32px;
    left: 230.38px;
    background-color:midnightblue;
    top: 11170px;
}
.Reach_out_to_us{
    position: absolute;
    width: 161.73px;
    height: 26px;
    left: 396.2px;
    top: 11127px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    text-transform: uppercase;
    color: #231F20;
}
.For_any_queries{
    position: absolute;
    width: 271.55px;
    height: 48px;
    left: 396.2px;
    top: 11161px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #231F20;
}
.Download_the_app{
    position: absolute;
    width: 183.7px;
    height: 26px;
    left: 700.56px;
    top: 11127px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    text-transform: uppercase;
    color: #231F20;
}
.googlePlay{
    position: absolute;
    width: 131.78px;
    height: 42.84px;
    left: 700.58px;
    top: 11164px;
}
.apple_picimg{
    position: absolute;
    width: 131.78px;
    height: 42.84px;
    left: 830.58px;
    top: 11164px;
}
.apple_picimage{
    width: 131.78px;
    height: 42.84px;
}
.Verified_by{
    position: absolute;
    width: 106.82px;
    height: 26px;
    left: 1030.36px;
    top: 11127px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    text-transform: uppercase;
    color: #231F20;
}
.image74img{
    position: absolute;
    width: 34.92px;
    height: 35px;
    left: 1030px;
    top: 11169px;
}
.image72img{
    position: absolute;
    width: 56.65px;
    height: 32px;
    left: 1080.88px;
    top: 11170.5px;
}
.image75img{
    position: absolute;
    width: 69.89px;
    height: 25px;
    left: 1160.5px;
    top: 11180px;
}
.image73img{
    position: absolute;
    width: 76.65px;
    height: 30px;
    left: 1240.35px;
    top: 11175.5px;
}
.rightsideline{
    position: absolute;
    width: 75px;
    height: 0px;
    left: 320px;
    top: 11166px;
    border: 1px solid rgba(167, 165, 166, 0.34);
    transform: rotate(90deg);
}
.rightsideline2{
    position: absolute;
    width: 75px;
    height: 0px;
    left: 630.6px;
    top: 11166px;
    border: 1px solid rgba(167, 165, 166, 0.34);
    transform: rotate(90deg);
}
.rightsideline3{
    position: absolute;
    width: 75px;
    height: 0px;
    left: 950.39px;
    top: 11166px;
    border: 1px solid rgba(167, 165, 166, 0.34);
    transform: rotate(90deg);
}