.beautylogo{
position: absolute;
width: 130px;
height: 30px;
left: 84px;
top: 30px;
}
/* .mainsearch{
box-sizing: border-box; 
position: absolute;
width: 307px;
height: 36px;
left: 299px;
top: 14px;
} */
.css-8j6b76-MuiInputBase-root-MuiOutlinedInput-root {
    height: 48px;
    box-sizing: border-box; 
position: absolute;
width: 307px;
height: 36px;
left: 299px;
top: 30px;
border: 1px solid #E7E7E7;
}

.mainheader{
/* overflow-x:hidden ; */
position: absolute;

width: 1440px;
height: 40px;
left: 0px;
top: 0px;
background: #dea3b736;
/* opacity: 0.2; */
}
.mainheadercontentgta{
    position: absolute;
    left: 63.96%;
    right: 77.8%;
    top: 0%;
    bottom: 5.56%;
    width: 200px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #231F20;
}
.mainheadercontentgta:hover{
    cursor: pointer;
}
.mainheadercontentgc{
    position: absolute;
left: 72.96%;
right: 77.8%;
top: 0%;
bottom: 5.56%;
width: 200px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
}
.mainheadercontentse{
    position: absolute;
    width: 200px;
    left: 80.62%;
    right: 54.09%;
    top: 0%;
    bottom: 5.56%;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.mainheadercontenth{
    position: absolute;
    width: 200px;
    left: 91.53%;
    right: 0%;
    top: 0%;
    bottom: 5.56%;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.mainheader-clr{
    position: absolute;
    left: 85px;
    right: 84.31%;
    top: 0.09%;
    bottom: 99.77%;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500px;
    font-size: 14px;
    line-height: 17px;
    color: #231F20;
}

.Bengaluru{
    position: absolute;
    top:-7px;
    left:20px;
    width:119px;
    height:17px;
    font-size:14px;
}
.search_btn_symbol{
    position: absolute;
    left:90px;
    top:5px;
}
.mainheader-clr:hover{
    cursor: pointer;
}

#simple-tab-0{
    position: absolute;
    left: 41.03%;
    right: 92.86%;
    top: -6.25%;
    bottom: -18.75%;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #231F20;
    
}
#simple-tab-1{
    position: absolute;
left: 45.46%;
right: 72.36%;
top: -6.25%;
bottom: -18.75%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-transform: capitalize;
color: #231F20;

}
#simple-tab-2{
position: absolute;
left: 50.96%;
right: 46.27%;
top: 0px;
bottom: -18.75%;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-transform: capitalize;
color: #231F20;
}
#simple-tab-3{
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

    position: absolute;
    width: 152px;
    left: 55.96%;
    right: 46.27%;
    top: 0px;
    bottom: -18.75%;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #231F20;
    }
.MuiTabs-root{
position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 40px;

background: #FFFFFF;
box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.15);
}

.signindiv {
position: absolute;
width: 82px;
height: 26px;
left: 1060px;
top: 34px;
}

.signinName{
    position: absolute;
left: 35.37%;
right: 2.44%;
top: 19.23%;
bottom: 3.85%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-transform: capitalize;

/* Primary/Black/Black #231F20 */

color: #231F20;

}
.divjoincitizen{
border-radius: 0px;
position: absolute;
width: 95px;
height: 32px;
left: 1165px;
top: 30px;

/* Primary/Velvet/Velvet #AD184C */

background: #AD184C;
}
.divjointhec{
    position: absolute;
width: 37px;
height: 10px;
left: 29px;
top: 4px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 10px;
/* identical to box height */

font-variant: small-caps;

color: #FFFFFF;
}
.divjoinfc{
    position: absolute;
width: 69px;
height: 15px;
left: 13px;
top: 14px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: capitalize;

color: #FFFFFF;
}
.appRating{
 
left: 1275px;
top: 35px;
border-radius: 0px;
position: absolute;
/* left: 5.21%;
right: 5.21%;
top: 9.79%; */
bottom: 9.79%;

/* background: #292D32; */
}
.appCart{
    position: absolute;
    left: 1310px;
top: 35px;
}

/* mobile site css */
@media (max-width:360px){
    .msiteheader{
        position: absolute;
        width: 360px;
        height: 40px;
        left: 0px;
        top: 24px;

        background: #f0afc7;
    }
}
